<!DOCTYPE html>
<html>
<head>
<title>Wenting Ye - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Wenting Ye."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/static/css/cv-app.css">

<link type="text/css" rel="stylesheet" href="/static/css/cv-style.css">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div style="margin-left: 20px; float:right;" id="name">
			<h2 class="quickFade delayTwo" style="text-align: right;">Curriculum Vitae</h1>
			<br>
			<h2 class="quickFade delayTwo" style="text-align: right;">Ye Wenting</h1>
			<h4 class="quickFade delayFour" style="text-align: right;">Beijing Univ. of Post & Telecom</h2>
			<h4 class="quickFade delayFour" style="text-align: right;">Network Engineering</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour" style="float:left">
		<br><br><br>
			<ul span >
				<li><em class="emphasize">E-mail:  </em> <a href="mailto:Wenting_Ye@bupt.edu.cn" target="_blank">Wenting_Ye@bupt.edu.cn</a></li>
				<li><em class="emphasize">Github: </em> <a href="https://github.com/YeWenting">github.com/YeWenting</a></li>
				<br>
				<li><a href="https://yewenting.github.io/cv.html" style="color: #e02f31;">Click here to view this CV in HTML. </a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<h2>Beijing University of Posts and Telecommunications</h2>
						<p class="subDetails">Undergraduate,  September 2014 - Present</p>
						<ul class="message-detail">
							<li><span class="emphasize">Major: </span>Network Engineering</li>
							<li><em class="emphasize" >Year 1: </em> Orverall GPA: 3.74 &nbsp; Major GPA: 3.89 &nbsp;Rank: 2/148</li>
							<li><em class="emphasize" >Year 2: </em> Orverall GPA: 3.87 &nbsp; Major GPA: 3.96 &nbsp;Rank: 1/139</li>
							<li><em class="emphasize" >Laboratory:  </em>Key Laboratory of intelligent communication software and multistatic</li>
							<li><em class="emphasize" > Highlight course: </em></li>
							<div style="float: left">
								Advanced Mathematics II
								<br>Linear Algebra
								<br>Mathematical Experiments
								<br>Algorithms and Data Structures
								<br>Computer Networks
								<br>Programming for Data Structures
								<br>OOP Design and Practice C++(2)
								<br> &nbsp;
							</div>
							<div class="right" style="float: right; margin-right: 30px">
								96 Points
								<br>95 Points
								<br>100 Points
								<br>95 Points
								<br>95 Points
								<br>97 Points
								<br>100 Points
								<br> &nbsp;
							</div>
						</ul>
					</article>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<article>
				<div class="sectionTitle">
					<h1>Awards</h1>
				</div>

				<div class="sectionContent message-detail">
					<article>
						<h2>First Prize - NOIP</h2>
						<p class="subDetails">November 2013</p>
						<p>Awarded by the China Computer Federation</p>
						<h2>National Scholarship Twice</h2>
						<p class="subDetails">2015-2016</p>
						<p>Awarded to by Ministry of Education of China</p>
						<h2><a href="http://www.comap-math.com/mcm/2016Certs/45098.pdf" >Meritorious Winner</a> - ICM </h3>
						<p class="subDetails">January 2015</p>
						<p>Awarded by the Consortium for Mathematics and Its Applications</p>
						<h2>Mathematics Competition third prize</h2>
						<p class="subDetails">October 2015</p>
						<p>Awarded by the College of Science, BUPT</p>
					</article>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p>I enjoy building software. Most of them are on <a href="https://github.com/YeWenting">GitHub</a>.
					<h2><a href="https://github.com/YeWenting/Results-Management-System">Results Management System</a></h2>
					<p class="subDetails">May 2016 - July 2016</p>
					<ul class="message-detail">
						<li><span class="emphasize">This is a term project of "C++ Course Design II". Its final score is 100.</span></li>
						<li>Decoupled the software to three dependent basic class (Person, Course and System), and each one had its subclass. </li>
						<li>Used singleton pattern in "System" class for encapsulation and security, </li>
						<li>Utilized the "csapp.h" network library for robustness.</li>
						<li>Unlike others students, I added <a href="https://github.com/YeWenting/Results-Management-System/blob/master/src/Server/server.cpp">multi-client accessibility</a> to server. To accomplish that, I learned Linux API select() by myself and proposed a data structure to store user state.</li>
					</ul>
				</article>
				
				<article>
					<h2 style="margin-top: 30px"><a href="https://github.com/YeWenting/Travel-Simulation-System">Travel Simulation System</a></h2>
					<p class="subDetails">March 2016 - June 2016</p>
					<ul class="message-detail">
						<li><span class="emphasize">This is a term project of "Data Structure". As a leader, our project got 97, the highest score in our major.</span></li>
						<li>Designed three route design algorithm, which are time, cost or both time and cost optimized, while passing through several given vertices too.</li>
						<li>Used the SPFA and Floyd–Warshall algorithm to obtain first-step answer.</li>
						<li>Reformulated the simulated annealing algorithm (SA) to design route satisfying the requirement of "passing through fixed points", solving this NP-hard problem in a short time. </li>
						<li>Used branch and bound method to optimize the route both in time and cost</li>
						<li>Designed a beautiful UI by Qt5.6, containing traffic net display and route selection interface. </p>
					</ul>
				</article>
				
				<article>
					<h2>Lasso Mixed Model</h2>
					<p class="subDetails">September 2016 - present</p>
					<ul class="message-detail">
						<li> The project with respect to my research in machine learning. </li>
						<li> Built efficiently in Python using Numpy and scikit-learn. </p>
					</ul>
				</article>
				<article>
					<h2><a href="https://yewenting.github.io">	BUPT Contact Website</a></h2>
					<p class="subDetails">October 2016 - present</p>
					<ul class="message-detail">
						<li> The project in my Network Programming Techniques class. </li>
						<li> Built by bootstrap and jQuery. </p>
					</ul>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>Organization</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Alibaba University Alliance</h2>
					<p class="subDetails">Leader of Big Data Department</p>
					<ul class="message-detail">
						<li>Joining AUA in sophomore, I helped to hold the first <a href="https://bbs.byr.cn/#!article/buptAUTA/334">data mining compe-tition</a> in BUPT and it was a huge success, which attracted 133 teams, 261 students to participate. </li>
						<li>I also organized <a href="https://bbs.byr.cn/#!article/buptAUTA/400">a lecture</a> to share machine learning knowledge. I myself gave a speech about linear model.</li>
						<li>At present, I'm preparing for this year's competition as a leader. </p>
					</ul>
				</article>
				
				<article>
					<h2>High School Team of Olympiad in Informatics</h2>
					<p class="subDetails">Member</p>
					<ul class="message-detail"><li>I took part in the NOIP three times, which was a nationwide competition of algorithm. I have got the first prize once and second prize twice.</li>
					</ul></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="message-detail">
					<li>C </li>
					<li>C++</li>
					<li>Java</li>
					<li>Mathematica</li>
					<li>Python</li>
					<li>HTML&CSS</li>
					<li>Adequate English Skills (GRE V153 Q170 AW3.0)</p>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>I'm also a ...</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<ul class="message-detail">
						<li>Member of SCS basketball team</li>
						<li>Long-distance runner</li>
						<li>Piano player</li>
						<li>Amateur drama actor</li>
						<li>Music lover</li>
					</ul>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript" src="/static/js/ga.js">
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>